# Dependencies
node_modules/
.pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel.proj
.vercel

# Next.js
.next/
.cache/

# Supabase Local
supabase/.branches
supabase/.temp
supabase/core
supabase/inbucket
supabase/kong
supabase/postgrest
supabase/postgres
supabase/realtime
supabase/storage
supabase/edge-runtime
supabase/functions/_main/
supabase/functions/_cmd/
supabase/functions/_internal/
supabase/functions/_device-store/
